<!-- templates/base.html -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vedant Travel{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'destination_list' %}">Destinations</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <p>© 2024 Vedant Travel. All Rights Reserved.</p>
    </footer>
</body>
</html>
