<!-- templates/home.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vedant Travel</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
    <body><nav>
        <ul class="navbar">
            <li><a href="{% url 'home' %}">Home</a></li>
        <!--    <li><a href="{% url 'destination_list' %}">Destinations</a></li>-->
        <!--    <li><a href="{% url 'about' %}">About</a></li>-->
        </ul>
        <!--{% if user.is_authenticated %}-->
            <!--<p>Hello, {{ user.username }}!</p>-->
        <!--    <p style="color: black;">Hello, {{ user.username }}!</p>-->
        <!--{% else %}-->
        <!--    <p style="color: black;">You are not logged in.</p>-->
        <!--    <ul>-->
        <!--        <li><a href="{% url 'login' %}">Login</a></li>-->
        <!--        <li><a href="{% url 'signup' %}">Sign Up</a></li>-->
        <!--    </ul>-->
        <!--{% endif %}-->
    </nav>
    
    <a href="{% url 'home' %}">Home</a>
    
<h1>{{ destination.name }}</h1>
<p>{{ destination.description }}</p>
<p>Price: ${{ destination.price }}</p>
<p>Availability: {{ destination.availability }}</p>
<a href="{% url 'booking_create' destination.id %}">Book Now</a>

</body>